/**
 * Form
 *
 * Define form elements.
 */

form {
    margin:0;
	padding:0;
}
label {
	margin:0;
	line-height:1em;
	display:block;
}
input,
button {
    box-sizing:border-box;
    height:30px;
    margin:0.5em 0;
    padding:0 0.25em;
    border:0;
    text-align:center;
    color:$black;
    background:$white;
    display: inline-block;
}
input {
    width: auto;
}
button {
    &.search-button {
        float: right;
        width: 70px;
    }
}