/**
 * Typography
 *
 * Common typography styles for HTML elemetns
 */

// base settings
$font-size: 16px;
$font-heading: 'Economica', cursive;
$font-body: 'Open Sans', sans-serif;

// paragraph
body {
  color: $black;
  font: 200 normal $font-size#{'px'}/1.4em $font-body;
  background:$white;
}

// links
a {
  color: $black;
  text-decoration: underline;
  &:hover {
    color: lighten($black, 10);
    text-decoration: none;
  }
}

// headings
h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  font-weight: 400;
  text-align: center;
}

  h1 {
    font-size: 1em;
    line-height: 1.1em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
    line-height: 1.2em;
  }

// bold
b,
strong {
  font-weight: $bold;
}
