/**
 * Typography
 *
 * Common typography styles for HTML elemetns
 */

// base measure
$font-size: 16;

// heading font
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
$font-heading: 'Roboto Slab', serif;

// body font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-body: 'Open Sans', sans-serif;

// paragraph
body{
    font-family:$font-body;
    font-size:$font-size;
    font-weight:200;
    line-height:1.4em;
    color:$black;
    background:$white;
}

// links
a{
    color:$highlight-color;
    text-decoration:underline;
    &:hover{
        color:darken($highlight-color, 10);
        text-decoration:none;
    }
}

// headings
h1,
h2,
h3,
h4{
    font-family:$font-heading;
    font-weight:600;
    color:$yellow;
}

    h1{
        font-size:1em;
        line-height:1.1em;
        margin:0;
    }

    h2{
        font-size:2em;
        line-height:1.2em;
    }

// bold
b,
strong{
    font-weight:700;
}

// italics
