/**
* Content
*
* View and page shared inner content elements and styles,
* does not include layout or view specific style
*/

#map {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	.google-map{
		width:100%;
		height:100%;
	}
}

	.current-pub{
		box-sizing:border-box;
		z-index:1;
		position:fixed;
		right: 40px;
		bottom:0px;
		width:300px;
		margin-left:-150px;
		padding:20px;
		color:#444;
		background: linear-gradient(to bottom, #f6f6f6 0%, #f6f6f6 70%, #e6e6e6 100%);
		border-radius: 8px 8px 0 0;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		overflow:auto;
		h2 {
			padding: 0;
			margin: 0;
			color: #444;
			font-size: 32px;
			text-align: center;
			background: #f6f6f6;
		}
	}
		.beers {
			list-style: none;
			margin: 20px 0;
			padding: 0;
			li {
				font-size: 14px;
				text-align: center;
			}
		}
		.add-beer--toggle {
			display: block;
			text-align: center;
			background: linear-gradient(to bottom, #999 0%, #999 50%, #777 100%);
			color: #fff;
			padding: 5px 10px;
			border-radius: 4px;
			text-decoration: none;
			font-size: 14px;
			border-bottom: 1px solid #555;
			&:hover {
				color: #fff;
				background: linear-gradient(to bottom, #939393 0%, #939393 50%, #717171 100%);
			}
		}

@media (min-width: 1200px) {
	.current-pub {
		right: 40px;
	}
}
@media (min-width: 960px) and (max-width: 1199px) {
	.current-pub {
		right: 40px;
	}
}
@media (min-width: 768px) and (max-width: 959px) {
	.current-pub {
		right: 20px;
	}
}
@media (min-width: 640px) and (max-width: 767px) {
	.current-pub {
		right: 10px;
	}
}
@media (max-width: 639px) {
	.current-pub {
		border-radius: 0;
		margin: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}
		.current-pub-address {
			text-align: center;
		}
	#add-beer {
		text-align: center;
	}
}
@media (max-width: 480px) {

}
