/**
 * Header
 *
 * Define header elements, navigation, branding, etc.
 */

#site-header{
	z-index:1;
    position:fixed;
    top:0;
    left: 50%;
    width:300px;
    margin-left: -150px;
    background:$black;
    color:$white;
	.inner {
		padding:20px;
        border-top:0;
	}
    .logo {
        
    }
}

// Modernizr
    // .no-flexbox{}

// Responsive
    // @media @tablet{}
    // Set in settings.less
