/*
 * Outer
 *
 * Define outer elements including wrap elements and overal structure
 * and limitations to overall design.
 */

html{
  height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(to top, #bbb, #fff);
}
.width-container {
  width: 320px;
}

// not sure where this fits in your sass breakdown - move it if you want
.panel {
	width: 100%;
 	padding: 0 2px 2px;
	position: fixed;
	border: 1px solid #111;
	background:linear-gradient(to bottom,#222,#000);
	box-shadow: 0 2px 4px #333;
	box-sizing: border-box;
	border-radius: 0 0 2px 2px;
	.inner {
		padding:20px;
		border-right: 1px dashed #555;
		border-bottom: 1px dashed #555;
		border-left: 1px dashed #555;
		border-radius: 0 0 2px 2px;
	}
}

// Modernizr
    // .no-flexbox{}

// Responsive
    // @media @tablet{}
    // Set in settings.less
