// beer styles go here

.search-beers {
	height: 200px;
	overflow: auto;
	padding:0;
	.beer {
		padding:5px 0;
		list-style:none;
		border-bottom:dotted 1px #fff;
		overflow:auto;
	}
	.beer-name {
		float:left;
		display:inline-block;
		max-width:260px;
		width:auto;
		margin-top:5px;
		margin-bottom:5px;
		font-size:$small;
	}
	.beer-actions {
		float:right;
		display:inline-block;
		text-align:right;
		button {
			border-radius: 4px;
		}
	}
}
.beers {
	list-style-type: none;
	padding: 0px;
	.delete-beer {
		font-size:$small;
	}
}
