// beer styles go here

.search-beers {
	padding:0;
	.beer {
		padding:0;
		list-style:none;
		display: block;
		border-bottom:dotted 1px #fff;
	}
	.beer-name {
		font-weight:$bold;
		margin-top:5px;
		margin-bottom:5px;
	}
	.beer-creator {
		font-size:$small;
	}
	.beer-label {
		width:50px;
		height:50px;
		float:left;
		margin-top:5px;
		margin-right:5px;
		display: block;
	}
	.beer-actions {
		text-align:right;
	}
}
.beers {
	list-style-type: none;
	padding: 0px;
	.delete-beer {
		font-size:$small;
	}
}
