.panel {
  box-sizing: border-box;
  z-index: 1;
  padding: 20px;
  color: #444;
  background: #f6f6f6;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  overflow: auto;
  transition: all 0.2s ease-in-out;
}
  .panel-close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
  }
