.current-pub-address {
	font-size:12px;
	color: #aaa;
	text-align:center;
}
.current-pub-url {
	font-size:$small;
	text-align:center;
	display: block;
}
.current-pub-photo {
	width: 100%;
	height: auto;
}
