doctype html
html(lang="en")
  head
    title Tap That yeah
    link(rel='stylesheet',href='../public/stylesheets/styles.css')
  body
    #site-header
      h1 Tap That!
      ul.header-nav
        li
          a.visual-hide tweet
        li
          a.visual-hide facebook
        li
          a.visual-hide email
      form
        label Where are you? #[input(type='text')]



      