doctype html
html(lang="en")
  head
    title Tap That yeah
    link(rel='stylesheet',href='../public/stylesheets/styles.css')
  body
    #site-header
      .inner
        h1 Tap That!
        p Tell us where you are; #[br] we'll tell you what's on tap.
        form
          label
            span.visual-hide Where are you? 
            input(type='text',placeholder='what',value='Mt Lawley')
            button(type='submit') Submit
        ul.header-nav.clearfix
          li.action-twitter
            a.flaticon-social19
              span.visual-hide tweet
          li.action-facebook
            a.flaticon-facebook5
              span.visual-hide facebook
          li.action-email
            a.flaticon-close13
              span.visual-hide email
    block content
