doctype html
html(lang="en")
  head
    title Tap That
  body
    #site-nav
    	h1 Tap That!
    	ul.header-nav.clearfix
    		li
    			a.visual-hide tweet
    		li
    			a.visual-hide	facebook
    		li
    			a.visual-hide	email
    	form
    		label Where are you? #[input(type='text')]


    	