extends base

block content
    .width-container
      #map(ng-controller='MapCtrl')
        .google-map(google-map, style='width:100%;height:400px;')
            span.loading Loading map...
        section.current-pub.panel
            h1 TapThat!
            url {{current.url}}
            form
                label(for='location') Tell me where you are:
                input#location(type='text')
                button(type='submit') Go!
