extends base

block content
  .width-container
    #map(ng-controller="MapCtrl")
      .google-map(google-map)
        span.loading Loading map...
      section.current-pub(ng-if="current")
        h1 {{current.name}}
        url {{current.url}}
        ul.beers(ng-if="current.boozes")
          li(ng-repeat="beer in current.boozes") {{beer.name}}
        .no-beers(ng-if="!current.boozes")
          p No beers bro, rack 'em up?
        form(ng-controller="BoozeAddrCtrl")
          label(for="beer") Find Beer
          input#beer(type="text", name="booze", placeholder="Coopers Pale Ale", ng-model="booze_search")
          button(type="button", ng-click="searchBoozes()").search-button Search
          ul.search-beers(ng-if="booze_recommendations")
            li.beer(ng-repeat="beer in booze_recommendations")
              .beer-name {{beer.name}}
              .beer-style {{beer.style}}
              .beer-creator {{beer.creator_name}}
              img.beer-label(ng-src="{{beer.image}}", alt="{{beer.name}} label")
              .beer-actions
                button(ng-click="saveBeerToPub(beer)") Drank
        .current-beer(ng-click="close()") Close
