doctype
<!--[if IE 7]>
html(lang="en", ng-app="invita").lt-ie10.lt-ie9.lt-ie8.lt-ie7
<![endif]-->
<!--[if IE 8]>
html(lang="en", ng-app="invita").lt-ie10.lt-ie9
<![endif]-->
<!--[if IE 9]>
html(lang="en", ng-app="invita").lt-ie10
<![endif]-->
html(lang="en", ng-app="tapthat")
  head
    title Tap That
    link(rel="stylesheet", href="/stylesheets/styles.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,user-scalable=no, scale=1, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Tap That - See What's On Tap
    link(rel="shortcut icon", href="/public/favicon.ico", type="image/x-icon")
    script(src="//maps.google.com/maps/api/js?sensor=false")
    script(src="/scripts/all.min.js")
    block head
  body
    #site-header
      .inner
        .heading-wrapper
          h1.logo The Pour Club
        p See what's on tap in:
        form#location-search(ng-controller="LocationCtrl", ng-submit="findLocation()")
          label
            span.visual-hide Where are you?
            input(type="text", ng-model="location_search", placeholder="Mt Lawley")
            button(type="submit").search-button Go
    block content
      .width-container
        #map(ng-controller="MapCtrl")
          .google-map(google-map)
            span.loading Loading map...
          section.current-pub(ng-if="current")
            h2 {{current.name}}
            url {{current.url}}
            ul.beers(ng-if="current.boozes")
              li(ng-repeat="beer in current.boozes") {{beer.name}}
            .no-beers(ng-if="!current.boozes")
              p No beers bro, rack 'em up?
            form(ng-controller="BoozeAddrCtrl", ng-submit="searchBoozes()")
              label(for="beer") Find Beer
              input#beer(type="text", name="booze", placeholder="Coopers Pale Ale", ng-model="booze_search")
              button(type="submit").search-button Search
              ul.search-beers(ng-if="booze_recommendations")
                li.beer(ng-repeat="beer in booze_recommendations")
                  .beer-name {{beer.name}}
                  img.beer-label(ng-src="{{beer.image}}", alt="{{beer.name}} label")
                  .beer-style {{beer.style}}
                  .beer-creator {{beer.creator_name}}
                  .beer-actions
                    button(ng-click="saveBeerToPub(beer)") Drank
            .current-beer(ng-click="close()") Close
